body {
  font-size: 18px;
  background-color: #fafafa;
}
.navbar li {
  display: inline;
  list-style-type: none;
  margin: 0px 10px 0px 10px;
}

.title {
  font-size: 2.25em;
}

/*Esta clase es para los H2*/
.title2 {
  font-size: 1.75em;
}

/*Esta clase es para los H3*/
.title3 {
  font-size: 1.4em;
}

.title,
.title2,
.title3,
.parragraph {
  color: #24292e;
}
.date {
  margin-bottom: 30px;
  color: #808080;
  font-size: 0.75em;
}
.creators {
  margin-top: 25px;
}
.divisor {
  margin-top: 45px;
  border: 0.5px solid #808080;
  width: 80%;
  opacity: 0.3;
}
.copyright {
  text-align: center;
}
