body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header p {
    font-weight: bolder;
}

strong {
    color: red;
}
h1 {
    font-size: 200%;
    text-align: center;
}

.portada {
    display: block;
    width: 80vw;
    margin: auto;
}

img {
    width: 100%;
}

figcaption {
    font-weight: bolder;
    text-align: center;
}

aside {
    width: 40vw;
}