body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header p {
    font-weight: bolder;
}

strong {
    color: red;
}
h1 {
    font-size: 200%;
    text-align: center;
}

.portada {
    display: block;
    width: 500px;
    margin: auto;
}

img {
    width: 100%;
}

figcaption {
    font-weight: bolder;
    text-align: center;
}

article {
    display: inline-block;
    width: 69%;
    padding: 0 40px;
}

aside {
    width: 20%;
    display: inline-block;
    position: relative;
    top: -140px;
}

footer, header {
    padding: 0 40px;
}