body{
    font-size: 18px;
    background-color: #fafafa;
    
    }

li {
    
    display: inline;
    list-style: none;
}

strong {

    color: red;
}

.fecha {
    color:#808080; 
    font-size: 0.75em; 
}

h1 {

    font-size: 2.25em;
}

h2{
    font-size: 1.75em;
}

h3 {
    font-size: 1.4em;
}

h1, h2, h3, p {

    color:#24292e 
}

hr{ 
    margin-top: 45px;
    border: 0.5px;
    border-style: solid;
    border-color: #808080;
    opacity:0.3;
    width: 80%; 
}

.copy{
    text-align: center;
} 
