* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background-color: #FAFAFA;
    font-size: 18px;
}
  
nav > ul > li {
    float: left;
    padding: 10px;
    list-style: none;
}

p{
    font-family: Helvetica;
}
  
h1, h2, h3, p {
    color: #24292e;
}
  
h1 {
    clear: both;
    font-size: 2.25em;
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;                     
}
  
h2 {
    font-size: 1.75em;
    font-family: 'Roboto Condensed', sans-serif; /* REPETICION CON H3 */
    font-weight: bold; /* REPETICION CON H3 */
}
  
h3 {
    font-size: 1.4em;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif; /* REPETICION CON H2 */
    font-weight: bold; /* REPETICION CON H2 */
    text-transform: uppercase;
}
  
.fecha {
    margin-bottom: 30px;
    color: #808080;
    font-size: .75em;
}
  
img {
    width: 100%;
    height: auto;
}
  
.firma {
    margin-top: 25px;
}
  
hr {
    margin-top: 45px;
    border: .5px solid #808080;
    width: 80%;
    opacity: .3;
}
  
.copyright {
    text-align: center;
}